<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleName</key>
    <string>TsinghuaNet.Eto</string>
    <key>CFBundleIdentifier</key>
    <string>com.berrysoft.TsinghuaNet.Eto</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.7</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>zh</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright (c) 2019 Berrysoft</string>
    <key>CFBundleIconFile</key>
    <string>Logo.icns</string>
  </dict>
</plist>
